<h2>Вход</h2>
<div id="errorContainer"></div>
<form id="loginForm">
    <div class="form-group">
        <label for="userName">Имя пользователя</label>
        <input type="text" id="userName" name="userName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#loginForm').submit(function (e) {
            e.preventDefault(); // Отменить стандартное поведение отправки формы

            let formData = $(this).serialize(); // Получить данные формы в виде строки
            console.log(formData);
            $.ajax({
                url: '@Url.Action("Login", "Auth")', // Указать URL-адрес метода действия
                type: 'POST',
                data: formData, // Передать данные формы
                success: function (response) {
                    // Обработать успешный ответ
                    console.log(response);
                    if (response.isSuccess) {
                        window.location.href = '/Home/Index';
                    } else {
                        var errors = response.errors;
                        var errorHtml = "";
                        errors.forEach(function (error) {
                            errorHtml += "<p>" + error.message + "</p>";
                        });
                        $("#errorContainer").html(errorHtml);
                    }
                },
                error: function (xhr, status, error) {
                    // Обработать ошибку
                    console.log(error);
                }
            });
        });
    });
</script>